.border-grey-300 {
  background-color: red;
}
#react-select-2-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-3-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-4-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-5-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-6-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-7-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-8-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-9-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
#react-select-10-listbox {
  background-color: azure;
  opacity: 1;
  z-index: 5;
}
